      body {
        text-align: center;
      }

      .header{

        background-color: brown;
        color:white

      }

      .margin{
        margin:0.5cm
      }

      .content{
        border: 1rem solid brown;
        border-radius: 4px;
      }

      .topics {
        border: 0.5rem solid orange;
        border-radius: 5px;
      }

      .button{
        font-size: xx-large ;

      }

      .Italic{
        font-style:italic
      }
    </style>
